{"openapi":"3.1.0","info":{"title":"BTU Graph public data","version":"2.0.0","description":"Read-only, unauthenticated exports for the evidence-backed BTU Graph energy company directory.","contact":{"email":"support@oilpriceapi.com"},"license":{"name":"CC BY 4.0 (BTU Graph-authored metadata)","url":"https://btugraph.com/data/#license"}},"servers":[{"url":"https://btugraph.com"}],"externalDocs":{"description":"Dataset guide, provenance, and license scope","url":"https://btugraph.com/data/"},"x-page-content-negotiation":{"requestHeader":"Accept: text/markdown","responseMediaType":"text/markdown; charset=utf-8","appliesTo":"Every canonical HTML page","documentation":"https://btugraph.com/data/#agent-markdown"},"paths":{"/graph.json":{"get":{"operationId":"getEnergyCompanyGraph","summary":"Download the typed public directory graph","responses":{"200":{"description":"Graph nodes, relationships, provenance, and disclosure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GraphResponse"}}}}}}},"/companies.csv":{"get":{"operationId":"downloadCompaniesCsv","summary":"Download normalized public company records","responses":{"200":{"description":"UTF-8 CSV company export","content":{"text/csv":{"schema":{"type":"string"}}}}}}},"/feed.xml":{"get":{"operationId":"getDirectoryUpdates","summary":"Read the directory update feed","responses":{"200":{"description":"RSS 2.0 update feed","content":{"application/rss+xml":{"schema":{"type":"string"}}}}}}},"/llms.txt":{"get":{"operationId":"getAgentDirectoryGuide","summary":"Read the concise agent-oriented directory guide","responses":{"200":{"description":"Plain-text navigation and citation guidance","content":{"text/plain":{"schema":{"type":"string"}}}}}}},"/llms-full.txt":{"get":{"operationId":"getExpandedAgentContext","summary":"Read expanded company context and evidence links","responses":{"200":{"description":"Expanded plain-text directory context","content":{"text/plain":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"Source":{"type":"object","required":["sourceTitle","url","accessed"],"properties":{"sourceTitle":{"type":"string"},"url":{"type":"string","format":"uri"},"accessed":{"type":"string","format":"date"}},"additionalProperties":false},"GraphNode":{"type":"object","required":["id","type","name"],"properties":{"id":{"type":"string","description":"Stable namespaced identifier in the form type:slug."},"type":{"type":"string","enum":["company","sector","capability","market","region","value_chain_stage","category","workflow","decision","market_data_requirement","software_product"]},"slug":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"datePublished":{"type":"string","format":"date"},"lastMateriallyUpdated":{"type":"string","format":"date"},"lastReviewed":{"type":"string","format":"date"},"sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}}},"additionalProperties":true},"GraphEdge":{"type":"object","required":["from","to","relationship"],"properties":{"from":{"type":"string"},"to":{"type":"string"},"relationship":{"type":"string"}},"additionalProperties":false},"GraphResponse":{"type":"object","required":["schemaVersion","edition","generatedAt","license","publisher","provenance","dataDictionary","nodes","edges"],"properties":{"schemaVersion":{"type":"integer","const":4},"edition":{"type":"string","format":"date"},"generatedAt":{"type":"string","format":"date-time"},"generatedFrom":{"type":"string"},"license":{"type":"object","additionalProperties":{"type":"string"}},"publisher":{"type":"object","additionalProperties":{"type":"string"}},"disclosure":{"type":"string"},"provenance":{"type":"object","additionalProperties":{"type":"string"}},"dataDictionary":{"type":"object","additionalProperties":{"type":"string"}},"nodes":{"type":"array","items":{"$ref":"#/components/schemas/GraphNode"}},"edges":{"type":"array","items":{"$ref":"#/components/schemas/GraphEdge"}}},"additionalProperties":false}}}}
